aside {
	background:rgba(123,199,229,0.7);
}

article {
	background:rgba(123,199,229,0.9);
}
@media screen and (max-width: 768px) {
	ul li ul li  {
		background-color: red;
		display: inline-block;
		width: 24%;
	}

	ul li ul {
		display: inline-block;
		background-color: grey;
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 900px) {
	audio, canvas, video {
		display: inline-block;
		width: 90%;
	}