aside {
	background:rgba(123,199,229,0.7);
}

article {
	background:rgba(123,199,229,0.9);
}
@media screen and (max-width: 768px) {
	aside ul li ul   {
		background-color: red;
		display: inline-block;
		width: 100%;
	}

	aside > .test{
		-moz-column-count:4;
		column-count:4;
		-webkit-column-count:4;
		/*-moz-break-before:always;*/
		/*display: inline-block; */
		background-color: grey;
		width: 100%;
		padding: 0;
	}
}
progress{
	width:60%;
}
@media screen and (max-width: 900px) {
	audio, canvas, video {
		display: inline-block;
		width: 90%;
	}